*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar{
    height:50px;
    background-color:rgb(128, 128, 128);
    display:flex;
    align-items:center;
        background: linear-gradient(to right, #808080,#000000f6);
        padding: 10px;
        color: yellow;
        justify-content: space-between;
    }
    
h1{
    color:yellow;
    margin-left:40px;
    /* font-size-adjust: 2px; */
}
.nav-search{
width:40px;
}
.panel-all{
    font-size:25px;
}
a{
    color:yellow;
    margin-right: 40px;;
}